{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkboxes</title>
    <script src="{% static 'checks/js/htmx.min.js' %}" defer></script>
    <script src="{% static 'checks/js/htmx-ext-ws.js' %}" defer></script>
</head>
<body>

<h1>Let's Check</h1>
<div id="socket" hx-ext="ws" ws-connect="/ws/checks/">
    <div id="state"></div>
</div>
</body>
</html>