<div id="state" hx-swap-oob="true">
    <p id="count-container"><span id="count" hx-swap-oob="true">{{ count }}</span> <b>boxes are ticked</b></p>

    <div id="checkbox-container">
        {% for i, status in checks %}
            <input
                    type="checkbox"
                    id="check-{{ i }}"
                    name="status"
                    value="{% if status == 0 %}1{% else %}0{% endif %}"
                    {% if status == 1 %}checked{% endif %}
                    ws-send
            >
        {% endfor %}
    </div>

    <div
            id="more-checks"
            hx-swap-oob="true"
            hx-get="/more-checks/"
            hx-trigger="revealed"
            hx-target="#checkbox-container"
            hx-swap="beforeend"
            hx-vals='{"limit": {{ limit }}, "offset": {{ offset }}}'
    >
    </div>
</div>
